@import url('https://fonts.googleapis.com/css?family=Lato');
@import "font-awesome.css";

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: whitesmoke !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: silver !important;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f8f8f8; /*background: url(../img/wallpaper3.jpg) no-repeat center center;*/
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: url(https://www.google.com/intl/es_ALL/keep/img/hero-bg.jpg);
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 300;
    z-index: -1;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-message {
    height: 75vh;
    position: relative;
    padding-top: 100px;
}

.intro-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3.5em;
    font-weight: 100;
}

.intro-message hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message legend {
    color: whitesmoke;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.code {
    padding: 75px; /*color: whitesmoke;*/
    color: rgb(51, 51, 51); /*background: url(../img/wallpaper6.jpg) no-repeat center center;*/
    background-size: cover;
}

.code h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.template-4 {
    padding-top: 125px;
    background-image: url(https://www.google.com/intl/es_ALL/keep/img/footer-bg.jpg);;
    box-sizing: border-box;
    color: whitesmoke;
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 40vh;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background: #EFEFEF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.download {
    background: #222;
    padding: 50px;
}

.download h2 {
    font-size: 2em;
    color: whitesmoke;
    margin: 0 0 50px 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.download img {
    height: 75px;
    padding: 0 10px;
}

.services {
    padding: 60px 0;
    background: whitesmoke;
}

.services h2 {
    font-weight: 900;
    margin: 0 0 30px 0;
}

.section {
    padding-top: 20px;
}

.section h2 {
    font-weight: 900;
}

.section p {
    font-size: 1.5em;
    font-weight: 500;
}

.developers {
    background: #222;
    padding: 50px;
    padding-top: 30px;
}

.developers h2 {
    font-size: 2em;
    color: whitesmoke;
    margin: 0 0 50px 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.developers img {
    height: 240px;
    width: 240px;
    padding: 15px;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    /*filter: grey;*/
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    transition: 0.5s ;
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

/*----- btn -----*/
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:hover {
    color: #fff;
    background-color: #ca3523;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #30487b;
}